<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSV to markdown<% if (htmlWebpackPlugin.options.title) { %> / <%= htmlWebpackPlugin.options.title %><% }%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>CSV to Markdown</h1>
    <textarea id="csv" name="csv" rows="8" cols="80"></textarea>
    <textarea id="markdown" name="markdown" rows="8" cols="80"></textarea>
    <label>
      <input id="header" type="checkbox" name="header" value="header" />
      Use the first line as a header
    </label>
    <button id="convert">Convert</button>

    <p>
      This app uses <a href="https://github.com/wdavidw/node-csv-parse">node-csv-parse</a>.
    </p>
  </body>
</html>
